new SessionTemplate().{  

    workItemHandlers = [
        "AsyncWorkItem": new com.example.workItem.AsyncWorkItemHandler(),
        "WorkItemCompleter": new com.example.workItem.WorkItemCompleter()
    ]
};
