new SessionTemplate().{  

    workItemHandlers = [
        "AsyncWorkItem": new com.example.workItem.SendJMSWorkItemHandler(),
        "WorkItemCompleter": new com.example.workItem.ChangePInstanceVariable()
    ]
};
